$image-list: (
  "st_01.jpg",
  "st_02.jpg",
  "st_03.jpg",
  "st_04.jpg",
);

.at-albans-victoria-page {
  background-color: #000;
  .banner {
    height: calc(100vh - 114px);
    position: relative;
    overflow: hidden;
    &>*:not(.cover-flow) {
      margin: 0 auto;
      left: 50%;
      top: 50%;
      transform: translateX(-50%, 50%);
    }
    .cover-flow {
      height: 100%;
      background-color: rgba(pink, .2);
      div {
        height: 100%;
      }
      @for $i from 1 through length($image-list) {
        div:nth-of-type(#{$i}) .img {
          @include image;
          background-image: url('./StAlbansVictoriaPage/images/#{nth($image-list, $i)}');
        }
      }
      .slick-dots {
        bottom: 90px;
        button:before {
          color: #fff;
          opacity: 1;
        }
        .slick-active button:before {
          color: #c8a063;
        }
      }
    }
    .text {
      color: #fff;
      text-align: center;
      line-height: initial;
      text-align: center;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      .subject {
        font-size: 70px;
        max-width: 520px;
        display: inline-block;
      }
      .address { font-size: 45px; }
    }
  }
  .info {
    color: $skin-color;
    padding: 120px 0;
    .row > .col-md-4 {
      text-align: center;
      &:not(:last-of-type) {
        border-right: 1px solid $skin-color;
      }
      > div {
        font-size: 35px;
      }
      .number {
        color: #fff;
        margin-top: 30px;
        font-weight: lighter;
      }
      .percentage {
        font-size: 90px;
        font-weight: bold;
        margin-top: -13px;
      }
    }
  }
  .link-block {
    text-align: center;
    padding-bottom: 130px;
    .bg-black {
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: none;
      z-index: 2;
      background-color: rgba(#000, .8);
      .popup {
        font-size: 20px;
        box-sizing: border-box;
        padding: 40px 30px 30px;
        border-radius: 20px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        p {
          margin: 0;
          line-height: 200%;
        }
        a {
          cursor: pointer;
          margin: 20px auto 0;
          clear: both;
          display: block;
          background-color: $skin-color;
          border: none;
          color: #fff;
          padding: 5px;
          display: inline-block;
          text-decoration: none;
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        list-style: none;
        &:not(:last-of-type) {
          margin-right: 45px;
        }
        a {
          cursor: pointer;
          padding: 0 0 5px;
          text-decoration: none;
          width: 346px;
          font-size: 35px;
          border-radius: 50px;
          color: #000;
          display: inline-block;
          line-height: 50px;
          background-color: $skin-color;
          &:hover {
            color: $skin-color;
            background-color: #fff;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-md-min) {
    .info {
      .row > .col-md-4 {
        &:not(:last-of-type) {
          border-right: none;
          margin-bottom: 80px;
        }
        .number {
          margin-top: 10px;
        }
      }
    }
    .link-block {
      ul {
        li {
          display: list-item;
          &:not(:last-of-type) {
            margin: 0 0 30px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $screen-sm-min) {
    .banner {
      .text {
        .subject {
          font-size: 40px;
          max-width: 520px;
          display: inline-block;
        }
        .address {
          font-size: 25px;
        }
      }
    }
    .info {
      overflow: hidden;
    }
  }
}
