$image-list: (
  "SliderPic_01.jpeg",
  "SliderPic_02.png",
  "SliderPic_03.png",
);

.home-block {
  background-color: #000;
  height: calc(100vh - 114px);
  position: relative;
  &>*:not(.cover-flow) {
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .cover-flow {
    height: 100%;
    background-color: rgba(pink, .2);
    div {
      height: 100%;
    }
    @for $i from 1 through length($image-list) {
      div:nth-of-type(#{$i}) .img {
        @include image;
        background-image: url('./HomePage/blocks/Home/images/#{nth($image-list, $i)}');
      }
    }
    .slick-dots {
      bottom: 90px;
      button:before {
        color: #fff;
        opacity: 1;
      }
      .slick-active button:before {
        color: #c8a063;
      }
    }
  }
  @include image;
  .logo-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .logo {
      width: 270px;
      height: 273px;
      background-image: url("./HomePage/blocks/Home/logo.png");
      margin: 0 auto 50px;
      @include image;
    }
    .slogan {
      color: #fff;
      padding: 0;
      text-align: center;
      li {
        font-size: 20px;
        display: inline;
        font-weight: bold;
        &:not(:last-of-type):after {
          content: "|";
          margin: 0 5px;
        }
      }
    }
  }

  @media only screen and (max-width: $screen-sm-min) {
    padding: 0;
    .logo {
      top: 100px;
      height: 200px;
      background-size: contain;
    }
    .slogan {
      top: 140px + 183px;
      li {
        display: block;
        &:not(:last-of-type):after {
          content: '';
        }
      }
    }
    .cover-flow {
      .slick-dots {
        bottom: 50px;
      }
    }
  }
}
