.director-block {
  color: #000;
  background-color: $skin-color;
  .padding {
    padding: 0 90px;
  }
  .row {
    padding: 130px 0 90px;
  }
  .title {
    text-align: left;
  }
  .img {
    height: 320px;
    border: 0px solid #000;
  }
  .sub-title {
    font-size: 32px;
    font-weight: bold;
  }
  @media only screen and (max-width: $screen-sm-min) {
    .row {
      padding: 50px 0;
    }
    .padding {
      padding: 30px 20px 0;
    }
  }
}
